@import url(components/animated-text-field.css);
@import url(components/animated-label.css);
@import url(components/animated-button.css);
@import url(components/animated-text-area.css);
@import url(components/animated-choice-box.css);
@import url(components/syntax-highlighting.css);

@import url(materialfx/Buttons.css);
@import url(materialfx/ChecksRadiosToggles.css);
@import url(materialfx/ComboBoxes.css);
@import url(materialfx/Common.css);
@import url(materialfx/Demo.css);
@import url(materialfx/ExampleNotification.css);
@import url(materialfx/FontResources.css);
@import url(materialfx/ListViews.css);
@import url(materialfx/MFXColors.css);
@import url(materialfx/Pickers.css);
@import url(materialfx/Progress.css);
@import url(materialfx/Sliders.css);

/* CSS per il VBox */
.vbox-container {
    -fx-padding: 2.5em
}

/* ChoiceBox > Label */
/* .choicebox .label {
    -fx-pref-width: 350px;
    -fx-alignment: center;
    -fx-font-size: 1.3em;
} */