/* CSS per il VBox */
.vbox-container {
    -fx-padding: 2.5em
}

.textfield {
    -fx-pref-width: 350px;
    -fx-alignment: baseline-left;
    -fx-font-size: 1.3em;
}

.choicebox .label {
    -fx-pref-width: 350px;
    -fx-alignment: center;
    -fx-font-size: 1.3em;
}

Button {
    -fx-text-fill: #000;
}