@import url(components/animated-text-field.css);
@import url(components/animated-label.css);
@import url(components/animated-button.css);
@import url(components/animated-text-area.css);
@import url(components/animated-choice-box.css);
@import url(components/syntax-highlighting.css);


/* CSS per il VBox */
.vbox-container {
    -fx-padding: 2.5em
}

/* ChoiceBox > Label */
/* .choicebox .label {
    -fx-pref-width: 350px;
    -fx-alignment: center;
    -fx-font-size: 1.3em;
} */