version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
      day: sunday
      time: "03:00"
    commit-message:
      include: scope
      prefix: "deps"
    rebase-strategy: auto
    open-pull-requests-limit: 10
    reviewers:
      - rgp-paleocapa
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
